<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="/assets/favicon/icon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicon/favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicon/favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon/favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/favicon/favicon-57.png">

    {% if page.map == "leaflet" %}
    <script src="/js/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="/js/leaflet/leaflet.css" /> 
    {% endif %}
    
    {% for map in page.maps %}
        <style type="text/css">
            {% if map[1].height == "" or map[1].height == nil %}
                #{{map[0]}} { height: 400px; }
            {% else %}
                #{{map[0]}} { height: {{map[1].height}}px; }
            {% endif %}
            
        </style>
    {% endfor %}
</head>
